<h1>Eat-A-Burger!</h1>
<h1>Please, Remember to tip your Waitstaff!</h1>
<aside>
    <nav>
        <a href="/add">Add Burger</a>
    </nav>
</aside>
<main>
    <section>
        <h2>Burgers waiting to be devoured!</h2>
        <ul>

            {{#each burgeregrubs}}

            {{#unless devoured}}
            {{> burgeregrub/burgeregrub devour=true}}
            {{/unless}}

            {{/each}}
        </ul>
    </section>

    <section>
        <h2>Burgers being digested.</h2>
        <ul>
            {{#each burgeregrubs}}
            {{#if devoured}}
            {{> burgeregrub/burgeregrub devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </section>
</main>